#!/bin/bash

# The SSH endpoint to connect to
if [ -z ${ADDR+x} ]
then
	ADDR={{ alarm_tunnel_host }}
fi
if [ -z ${PORT+x} ]
then
	PORT=19999
fi

while true; do
# ssh with Keepalive and -R reverse port forwarding
# Also turn off all host checks, we want this connection to always be made
ssh -o "ServerAliveInterval=60" -o "ExitOnForwardFailure=yes" -o 'PasswordAuthentication=no' -o 'StrictHostKeyChecking=no' -o 'CheckHostIP=no' -N -R $PORT:localhost:22 $ADDR
sleep 1
done
